@import url(variables.css);

:root {
  /*colors*/
  --black: #000000;
  --white: #ffffff;

  /*font sizes*/
  --h1: 3.25rem;
  --h2: 3rem;
  --h3: 2.5rem;
  --h4: 2rem;
  --h5: 1.5rem;

}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}