*,
html,
body {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: paleturquoise;
}

h1 {
    font-size: var(--h1);
    text-align: center;
    padding: 2rem;
}

h2 {
    font-size: var(--h2);
}

h3 {
    font-size: var(--h3);
}

.resume {
    padding: 4rem;
    padding-top: 0%;
    margin: 2rem;
    margin-top: 0%;
    margin-left: 28%;
}

ul {
    margin: 1rem;
}

.titles {
    text-decoration: underline;
    padding: 2rem;
    padding-bottom: 0%;
    font-size: var(--h3);
}

.sections {
    margin-bottom: 1rem;
}

.lists {
    font-size: var(--h2);
    text-decoration: none; 
    padding: 1rem;
}

li {
    padding: 1.5rem;
}